@import "../../vars.css";

.container {
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    scroll-margin-top: 125px;
}

.title {
    color:var(--color-text);
    font-weight: 700;
    margin-top: 30px;
    width: 100%;
    font-size: 35px;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    padding: 40px;
    align-items: center;
}
.aboutImage{
    width: 35%;
}

.aboutItems {
    color:var(--color-text);
    display: flex ;
    flex-direction: column;
    gap: 15px;
    
}

.aboutItem{
    display: flex;  
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(214, 222, 227, 0.42) 0% , rgba(255,255,255,0)100%);
    background-size: 0 100%;
}

.aboutItem:hover {
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem h3 {
    font-size: 25px;
    font-weight: 600;

}

.aboutItem p {
    font-size: 25px;
}

@media screen and (max-width:1000px) {
    .container{
        background-color: transparent;
        margin-left: 10%;
        margin-right: 10%;
    }
    .content{
        flex-direction: column;
        margin: 0;
        
    }
    .title{
        width: 100%;
        padding: 0;
    }
    .aboutImage{
        display: none;
    }
    .aboutItems{
      width: 100%;
    }
    .aboutItem {
       padding: 32px;
       width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .content{
        padding: 10px;
    }
    .aboutItem{
        padding: 10px;
    }
}